@import url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fontawesome-free-5.9.0-web/css/all.css);
@import url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fontawesome-free-5.9.0-web/css/fontawesome.css);
@import url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fontawesome-free-5.9.0-web/css/all.css);
@import url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fontawesome-free-5.9.0-web/css/fontawesome.min.css);

@import url(file:///C:/Users/ALI%20SANAI/Desktop/font-awesome.min.css);
@font-face {font-family: "pritalic";
  src: url(".eot"); /* IE9*/
  src: url(".eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url(".woff2") format("woff2"), /* chrome?firefox */
  url(".woff") format("woff"), /* chrome?firefox */
  url("file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/Multimedia/dinarjevrepublika.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+*/
  url(".svg#DINWebPro-Light W06 Regular") format("svg"); /* iOS 4.1- */
}

 @font-face { font-family: "Liberation Serif"; font-weight: normal; font-style: normal; font-stretch: normal; src: url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/LiberationSerif-Bold.ttf) }
 
 @font-face { font-family:'dalmatien'; src:url('file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/tout%20font%20ouvert/Cowboys.ttf'); }
 
 @font-face { font-family:'OUTLINE'; src:url('file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/tout%20font%20ouvert/cousine/Cousine-Bold.ttf'); }
 
 @font-face { font-family:'djadli'; src:url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/arabfont/Hacen%20Liner%20Screen.ttf); }
 
 @font-face { font-family:'Chunk'; src:url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/FFF_Tusj.ttf); }
 
 @font-face {
	font-family:COMIC;
	src:url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fon/_CANREG_EXE.TTF);
}
 
/* latin-ext */
@font-face {
  font-family: 'KAFEINE';
  font-style: italic;
  font-weight: 300;
  src: local('KAFEINE'), local('KAFEINE'), url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/fonts/fon/KAFEINE.ttf) format('truetype');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
  
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
  
}
