 body {
 font-family: 'OUTLINE'; direction:; unicode-bidi: embed; background: url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/font%20bg/bg_hall_du_livre.png) no-repeat center fixed; -webkit-background-size: cover; background-color: purple; }::selection { background-color: RGB(165,210,34); color: RGB(174,27,255); }
 h1{
 font-family:"pritalic";font-size:44px;line-height:48px;} #light { background-color: lightBlue; color: purple; padding: 8px; } #med { background-color: purple; color: lightBlue; padding: 8px; } img { width:; } h3 { color: gold; } h2 { color: red; } a { color: green; text-decoration: none; }   table,tr,td{ border: solid 2px;  } table{ width: 100%;  }
 #cont{
 background: url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/font%20bg/bg_hall_du_livre.png) no-repeat center fixed; font-family:Chunk ; width:90%; margin: auto; background-color: #916DAE; border-radius: 8px; padding: 8px; direction: ltr;}
 pre{
 white-space:pre-line; font-family: "OUTLINE"; font-size: 20px; font-weight:; background-color: #8050ce; color: #000; padding: 8px;  }
 .comic {font-family: 'comic';}
 .fr { direction: ltr; }
 .ar { direction: rtl; } 
 .entrep{ width: 60%; border-radius: 6px; border: 8px solid RGB(137,75,171); margin: auto; padding: 20px; font-size: 16px;background-color: RGB(128,40,167);color: RGB(255,255,255); } .exempl { background-color: magenta; } a:link { font-weight: bold; text-decoration: none; color: purple; } a:visited { font-weight: bold; text-decoration: none; color: red; } a:hover, a:active { text-decoration: underline; color: #3B6132; }  .img { border-radius: 20px;transition: 0.3s;
 border: #d0d0d0 solid 1px; padding: 1%; margin: ; box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4); width:450PX; } h2 {font-weight: bold; color: pink; background-color: purple; display: inline; } h2:hover{
 font-family: "pritalic";font-weight: bold; font-size: 26px;} h3{  font-weight: bold; color: green; background-color: ; display: inline; }
 h4:hover{
 font-family: ; } h5,h4  { color: #96A0AC; } h5,h4 { background-color: green; display: inline; } p { direction: ; font-size:20px; } .xmpl {padding: 6px; border-radius: 6px; border: 8px double RGB(140,51,187); font-size: 18px; font-weight: bold; background-color: RGB(255,255,0); } table { border: solid magenta 2px; } td { border: solid cyan 2px; }
h1.title {
  background: url(file:///F:/d/SERVEUR%20ne%20pas%20toucher/font%20bg/pommes.jpg);
 -webkit-background-clip: text;
-webkit-text-fill-color: transparent; }
figcaption {font-family: dalmatien;color: cyan;font-size: 16px;}
#bronx {
    width: 40%;
    height: 4px;
    background-color: blue;
}
.ccyy {color:cyan;}
.wwtt {color:white;}
.tic {width:20px;}

#ulist{
    list-style-image: url('file:///F:/d/SERVEUR%20ne%20pas%20toucher/tics/icon_flower.png');
}
