
.blep {color:pink;background-color:blue;}
.blee {color:cyan;background-color:blue;}
.ree {color:pink;background-color:magenta;}
.courto {color:magenta;background-color:blue;}
.docu {color:blue;background-color:gold;}
.bd {color:;background-color:white;}